
body {
  font-family: 'Monserrat';
}


h1 {
  font-family: 'Montserrat-Black', sans-serif;
  font-weight: 800;
  font-size: 4rem;
  line-height: 1.5;

}

/* setting up the color of the Title section */

#title {
  background-color: #ff4c68;
  color: #fff;
}

/* making the container responsive */

.title-container {
  padding: 3% 15%;
}



/* intro image */

.iphone {
  width: 60%;
  transform: rotate(25deg)
}


/* navbar  */

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: 'Monserrat-light';
  /* font-weight: lighter; */
}


/* download buttons */
.download-btn {
  font-family: 'Verdana', sans-serif;
  margin: 5% 3% 5% 0;
}

/* features */

#features {
  padding: 7% 15%;
}

/* headers */

.feature-box {
  padding: 4.5%;
  text-align: center;
}

h3 {
  font-family: 'Montserrat-bold', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  /* text-align: center; */
}

/* icon */

.icon {
  /* text-align: center; */
  /* margin: 3rem auto; */
  color: #ef7181;
  font-size: 5rem;
  /* for the sizes we could have used the fontawesome size class like '4x 3x 2x ' and set it to maybe '4x' */
  margin-bottom: 1rem;
}

.icon:hover {
  color: #ff4c68;
}

/* text */

p {
  color: #8f8f8f;
}







/* testimonials */

#testimonials {
  /* height: 90vh; */
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.carousel-item {
  padding: 7% 15%;
  height: 100%;
}

.testimonial-text {
  font-family: 'Montserrat-bold', sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}


/* press */

#press {
  background-color: #ef8172;
  padding-bottom: 3%;
  text-align: center;
}

.press-image {
  width: 15%;
  margin: 20px 50px;
}
